Source: ros-hydro-rviz-python-tutorial
Section: misc
Priority: extra
Maintainer: "Dave Hershberger <hersh@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-rviz
Homepage: http://ros.org/wiki/rviz_python_tutorial
Standards-Version: 3.9.2

Package: ros-hydro-rviz-python-tutorial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-rviz
Description: Tutorials showing how to call into rviz internals from python scripts.
