Source: ros-hydro-visualization-tutorials
Section: misc
Priority: extra
Maintainer: Dave Hershberger <hersh@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/visualization_tutorials
Standards-Version: 3.9.2

Package: ros-hydro-visualization-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-interactive-marker-tutorials, ros-hydro-librviz-tutorial, ros-hydro-rviz-plugin-tutorials, ros-hydro-rviz-python-tutorial, ros-hydro-visualization-marker-tutorials
Description: Metapackage referencing tutorials related to rviz and visualization.
